.title-projects {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--font-title);
  letter-spacing: 1pt;
  color: var(--color-background-secondary);
  text-shadow: 0px 0px 2px rgba(0,0,0,0.76);
}

.marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portal-empregos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bpo-financeiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-system {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marketplace .logo-frutaqui {
  width: 400px;
  margin: 2rem;
}

.portal-empregos .logo-osorio {
  width: 400px;
  margin: 2rem;
}

.bpo-financeiro .logo-bpo {
  width: 400px;
  margin: 2rem;
}

.control-system .logo-control {
  width: 400px;
  margin: 2rem;
}

.marketplace .title-marketplace {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-body);
  color: var(--color-text-secondary);
  text-align: center;
}

.portal-empregos .title-portal {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-body);
  color: var(--color-text-secondary);
  text-align: center;
}

.bpo-financeiro .title-bpo {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-body);
  color: var(--color-text-secondary);
  text-align: center;
}

.control-system .title-control {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-body);
  color: var(--color-text-secondary);
  text-align: center;
}

.description {
  text-align: center;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 25px;
  color: #555;
  margin: 2rem;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: var(--color-background-secondary);
  color: var(--color-background);
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-button);
  transition: 1s ease-in;
}

@media screen and (min-width: 1000px) {
  .projects-new {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
}

