:root {
  --font-title: "Poppins", serif;
  --font-body: "Montserrat", sans-serif;
  --color-background: #FFFFFF;
  --color-background-secondary: #542eae;
  --color-button: #F28627;
  --color-button-secondary: #359AF2;
  --color-text: #0D2CD9;
  --color-text-secondary: #F28627;
  --color-text-tertiary: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}